<div class="container">
    <h3 class="title">Welcome to Delta King</h3>
    <p class="subtitle">Delta King offers booking services through its own network of localised websites</p>
    <div class="text">
      <p>Delta King gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands of properties worldwide. The company offers a one-stop shopping source for hotel pricing, amenities and availability.</p>
      <p>Delta King, is part of the Jalal GROUP of travel booking companies.</p>
      <p>Delta King, L.P. headquarters are located at Mirpur 75240, Bangladesh</p>
    </div>
  </div>
  