<!-- <p>list-students works!</p> -->

<button routerLink="/add-student" class="btn btn-primary m-2">Add New Student</button>

    <table class="table table-success table-striped">
        <thead class="bg-secondary">
            <th class="ms-2">Sr. No</th>
            <th>First Name </th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Hobbies</th>
            <th>Country</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let student of students;let i = index">
                <td>{{i+1}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.password}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.hobbies}}</td>
                <td>{{student.country}}</td>
                <td><a href="edit/{{student.id}}" class="btn btn-success">EIDT</a><button
                        (click)="deleteStudent(student)" class="btn btn-danger">DELETE</button></td>
            </tr>
        </tbody>
    </table>
